Repository oyepriyansh/DevProfiles, pull requests merged in 2023-10, with the labels that each got.

#1 Profile Update
  index.html
Labels: hacktoberfest-accepted

#5 Update index.html
  index.html
Labels: hacktoberfest-accepted

#8 Added Profile Sunil
  index.html
Labels: hacktoberfest-accepted

#9 Added dev profile
  index.html
Labels: hacktoberfest-accepted

#14 Update index.html
  index.html
Labels: hacktoberfest-accepted

#16 added myself :3c
  index.html
Labels: hacktoberfest-accepted

#19 Update: Add Michael Ortiz
  index.html
Labels: hacktoberfest-accepted

#18 first good issue
  index.html
Labels: good first issue, hacktoberfest-accepted

#23 Added Profile for Rushikesh Shelar
  index.html
Labels: hacktoberfest-accepted

#30 Update index.html
  index.html
Labels: hacktoberfest-accepted

#33 profile added
  index.html
Labels: hacktoberfest-accepted

#35 Updated Index.html
  index.html
Labels: hacktoberfest-accepted

#36 feat: add alit indrawan profile
  index.html
Labels: hacktoberfest-accepted

#38 Modified the changes in index.html and skills and social div container to flexbos
  index.html
  style.css
Labels: hacktoberfest-accepted

#42 Added my profile to the list
  index.html
Labels: hacktoberfest-accepted

#44 Added New Profile
  index.html
Labels: hacktoberfest-accepted

#46 Added my profile
  index.html
Labels: hacktoberfest-accepted

#47 Add ashishk1331 profile
  index.html
Labels: hacktoberfest-accepted

#50 Added profile -Balajithegr8
  index.html
Labels: hacktoberfest-accepted

#54 new profile
  index.html
Labels: hacktoberfest-accepted

#51 Added my dev profile
  index.html
Labels: hacktoberfest-accepted

#62 Add: my profile index.html
  index.html
Labels: hacktoberfest-accepted

#55 added profile
  index.html
Labels: hacktoberfest-accepted

#64 conflict removed
  index.html
Labels: hacktoberfest-accepted

#65 Added profile
  index.html
Labels: hacktoberfest-accepted

#56 Adding New Profile (Ahasas Jain)
  index.html
Labels: hacktoberfest-accepted

#66 Add User information
  index.html
Labels: hacktoberfest-accepted

#68 Update index.html
  index.html
Labels: hacktoberfest-accepted

#72 Add my profile
  index.html
Labels: hacktoberfest-accepted

#77 Create Profile
  index.html
Labels: hacktoberfest-accepted

#78 Updated index.html with my details
  index.html
Labels: hacktoberfest-accepted

#81 Update index.html
  index.html
Labels: hacktoberfest-accepted

#86 Update index.html with my profile details
  index.html
Labels: hacktoberfest-accepted

#87 Add my profile
  index.html
Labels: hacktoberfest-accepted

#57 Add my profile
  index.html
Labels: hacktoberfest-accepted

#92 Update index.html
  index.html
Labels: hacktoberfest-accepted

#94 my profile-srinanda
  index.html
Labels: hacktoberfest-accepted

#98 added new profile
  index.html
Labels: hacktoberfest-accepted

#100 Added my profile
  index.html
Labels: hacktoberfest-accepted

#105 Added profile and changed the design of the footer
  index.html
  style.css
Labels: hacktoberfest-accepted

#113 Add my Profile
  index.html
Labels: hacktoberfest-accepted

#115 Improved UI and introduced dark and light mode switching
  README.md
  index.html
  script.js
  style.css
Labels: hacktoberfest-accepted

#119 Added New Profile
  index.html
Labels: hacktoberfest-accepted

#121 Added my Profile in index.html
  index.html
Labels: hacktoberfest-accepted

#122 profile of vishal merged in index.html
  index.html
Labels: hacktoberfest-accepted

#60 Added my profile: Sammie
  index.html
Labels: hacktoberfest-accepted

#85 added my profile
  index.html
Labels: hacktoberfest-accepted

#124 Added new profile
  index.html
Labels: hacktoberfest-accepted

#126 added ankit gadling profile
  index.html
Labels: hacktoberfest-accepted

#127 Added my Dev Profile
  index.html
Labels: hacktoberfest-accepted

#128 Added my profile
  index.html
Labels: hacktoberfest-accepted

#83 Added Contributing.md and updated readme file
  CONTRIBUTING.md
  README.md
Labels: hacktoberfest-accepted

#129 add my profile
  index.html
Labels: hacktoberfest-accepted

#131 profile addition by Priyanshu Singh
  index.html
Labels: hacktoberfest-accepted

#118 my profile added
  index.html
Labels: hacktoberfest-accepted

#134 added profile to index.html
  index.html
Labels: hacktoberfest-accepted

#135 Hacktoberfest 2023 Tergel0820
  index.html
Labels: hacktoberfest-accepted

#136 Added My profile
  index.html
Labels: hacktoberfest-accepted

#137 Update index.html
  index.html
Labels: hacktoberfest-accepted

#138 data: profile addition by Abayomi Ogunnusi: drsimplegraffiti
  index.html
Labels: hacktoberfest-accepted

#140 data: added dev profile Piyush Kumar Das
  index.html
Labels: hacktoberfest-accepted

#142 Added Profile for 「 」Data
  index.html
Labels: hacktoberfest-accepted

#145 data: profile addition by Afraz
  index.html
Labels: hacktoberfest-accepted

#146 Josephglz profile added
  index.html
Labels: hacktoberfest-accepted

#147 data: profile addition by Septian Maulana
  index.html
Labels: hacktoberfest-accepted

#152 My data added
  index.html
Labels: hacktoberfest-accepted

#150 Chore : Profile Additon
  index.html
Labels: hacktoberfest-accepted

#154 added muanra card
  index.html
Labels: hacktoberfest-accepted

#156 profile addition by Arnab Barua
  index.html
Labels: hacktoberfest-accepted

#157 add myself (azizarizaldi)
  index.html
Labels: hacktoberfest-accepted

#158 Solve #49 : Enhanced User experience
  css/style.css
  index.html
  js/script.js
Labels: hacktoberfest-accepted

#159 Update index.html
  index.html
Labels: hacktoberfest-accepted

#161 Added YouFoundAlpha to index.html
  index.html
Labels: hacktoberfest-accepted

#163 This PR adds my profile
  index.html
Labels: hacktoberfest-accepted

#164 Profile added
  index.html
Labels: hacktoberfest-accepted

#166 data : profile addition by Sravan Kumar
  index.html
Labels: hacktoberfest-accepted

#167 First commit (Add profile and added some animations) etc.
  css/style.css
  index.html
Labels: hacktoberfest-accepted

#171 data: profile addition by Ashmit Mehta (Ash-codes18)
  index.html
Labels: hacktoberfest-accepted

#172 Profile addition by zirea3l(Piyush)
  index.html
Labels: hacktoberfest-accepted

#173 added profile -ayush24k
  index.html
Labels: hacktoberfest-accepted

#174 fixed-light-mode-text-issue
  .vscode/settings.json
  index.html
  js/script.js
Labels: hacktoberfest-accepted

#179 Added Profile
  index.html
Labels: hacktoberfest-accepted, new profile

#180 Fix/dark mode text white
  js/script.js
Labels: hacktoberfest-accepted

#178 Fixed/btn on hover
  js/script.js
Labels: waiting for reviewers

#182 Profile added by Dhiman-Nayak
  index.html
Labels: hacktoberfest-accepted, new profile

#183 feat: guilhermeorcezi's profile added
  index.html
Labels: hacktoberfest-accepted, new profile

#165 i just made my cobtribution
  index.html
Labels: hacktoberfest-accepted

#186 Added new member and fixed #183
  index.html
Labels: waiting for reviewers

#188 Added my profile in devprofiles
  index.html
Labels: hacktoberfest-accepted, new profile

#189 pradeep
  index.html
Labels: hacktoberfest-accepted, new profile

#191 Added my profile in devprofiles
  index.html
Labels: hacktoberfest-accepted, new profile

#193 Added my profile in devprofiles
  index.html
Labels: invalid

#194 Hitesh's Profile Added
  index.html
Labels: invalid, new profile

#196 data: profile addition by Rohit Kumar Dey
  index.html
Labels: invalid, new profile

#153 Added my profile in devprofiles
  index.html
Labels: invalid, new profile

#125 Update index.html
  index.html
Labels: waiting for reviewers

#200 adding Rémi's profile
  index.html
Labels: new profile

#205 Data: Profile Addition by Zemerik
  index.html
Labels: waiting for reviewers
